$darkgrey: #333333;
$white-1: #F5F7FB;
$blue: #387AFF;
$white: #fff;
$black: #000000;
$light-grey: #a5a5a5;
$light-blue: #2b8da9;
$dark-white: #d0d0d0;
$bg-main: #ebeef7;
$bg-box: #ffffff;
$bg-quote: #2028eb;
$bg-quote-hover: #0f1396;
$text-main: #bebebe;
$text-headline: #131125;
$text-link: #a0a4e3;
$accent: #93f8e0;
$dark-blue-gradient: linear-gradient(
    to right top,
    #0f1396,
    #202199,
    #2d2d9c,
    #38389f,
    #4243a1,
    #4243a1,
    #4142a0,
    #4142a0,
    #36379d,
    #2b2b99,
    #1d1e95,
    #0a0f90
);

