@use "colors";
@import "src/styles";

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-thumb {
  @include scrollbarThumb
}

.messages::-webkit-scrollbar-track {
  @include scrollbarTrack
}

.fa-right-from-bracket {
  font-size: 20px;
  cursor: pointer;
}

.outerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .messages {
    border: 1px solid colors.$light-grey;
    border-radius: 5px;
    width: 1100px;
    height: 600px;
    overflow-y: scroll;
    background-color: colors.$darkgrey;

    .message {
      position: relative;
      margin: 4px;
      width: 400px;
      height: 44px;
      display: flex;
      flex-direction: column;
      background-color: colors.$white-1;
      color: colors.$black;
      border-radius: 14px 0 14px 14px;

      img {
        border-radius: 50%;
        top: 5px;
        margin-left: 10px;
        position: absolute;
        width: 30px;
        height: 30px;
      }

      &.mine {
        background-color: colors.$blue;
        margin-left: 62%;
        color: colors.$white;
      }

      span {
        margin-left: 40px;
      }

      .message__username {
        font-size: 14px;
      }

    }
  }

  .form__container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      background-color: colors.$dark-white;
      border: none;
      padding: 10px;
      width: 200px;
      height: 40px;
      border-radius: 10px;

      &:focus {
        font-size: 16px;
      }
    }

    button {
      @include flexCenter;
      margin-left: 6px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: colors.$blue;
      cursor: pointer;
      border: none;

      .fa-paper-plane {
        color: colors.$white;
      }

      &[disabled] {
        background-color: colors.$light-grey;
      }
    }

  }
}


