<div class="sign__wrapper">
  <div class="sign__wrapper-auth">
    <div class="auth__tip">
      Don't have an account? <span routerLink="/auth/signup">Sign Up</span>
    </div>
    <div class="auth__form">
      <h1>Welcome to CHAT v2</h1>
      <p>
        Enter you login and password
      </p>
      <form [formGroup]="authFormGroup">
        <div>
          <label for="login"> Login</label>
          <input formControlName="login" type="text" name="login" class="input-email" />
        </div>
        <div>
          <label for="password"> Password</label>
          <input formControlName="password" type="password" name="password" class="input-password" />
        </div>
        <div>
          <button
            [disabled]="authFormGroup.invalid"
            (click)="signIn()" class="btn">
          Login to account
          </button>
        </div>
      </form>
      <div class="oauth__text">Or sign in with</div>
      <div class="oauth__items">
        <div class="oauth__items-item">
            <mat-icon svgIcon="google"></mat-icon>
        </div>
        <div class="oauth__items-item">
            <mat-icon svgIcon="facebook"></mat-icon>
        </div>
        <div class="oauth__items-item">
          <mat-icon svgIcon="apple"></mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="sign__wrapper-quote">
    <div class="quote__wrap">
      <div class="quote">Make a step.</div>
      <div class="quote-small">
        "Make your first step to a best user experience"
      </div>
    </div>
  </div>
</div>
